/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: "Lato","Roboto",sans-serif;
    font-size: 20px;
}
.banner{
   position: relative;
  background: url(img/banner.jpg) no-repeat center center/cover;
  width:100vw;
  height: 42.6vw;
}

.who{
    margin-left: 80px;
    
}
.content{
    padding-left: 12rem;
    padding-right: 12rem;
    
}

.process{
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.7)), url(/img/banner.jpg) no-repeat center center/cover;
}
.process-title-header{
    font-size: 120px;
    }
.process-title{
        font-size: 60px;
        }
.process-content{
    padding-right: 2rem;
}
.header-content{
  padding:100px;
    font-size: 30px;
}
.card-radius{
    border-radius: 10px;
}

.card-img{
    height: 150px;
    width: 150px;
   
}
.card-shadow{
    box-shadow: 1px 1px 3px #444;
}
.card-shadow:hover{
    box-shadow :5px 5px 20px #444 ;
}
.input{
    background: transparent;
    border-color:transparent;
    border-bottom: 1px solid #9b59b6;
    border-radius: 0;
    transition: all .4s;
}
.input:focus{
    background: transparent;
    border-color:transparent;
    box-shadow: none;
color:#9b59b6;   
border-bottom: 2px solid #8e44ad;
}

.label1{
   cursor: pointer;
transform: translateY(-80px);
    transition: all .4s;
    opacity: 0.8;
}

.input:hover{
    color:#95a5a6 ;
}
.submit{
    background: #8e44ad;
    transition: all .4s;
}
.submit:hover{
    transform: translateY(-3px);
}
.label1{
    color:#9b59b6;
   display: block;
    margin-left: 4px;
    font-size: 16px;
    transition: all .3s;
}
.input:placeholder-shown +.label1{
    
    transform: translate(20px,20px);
    opacity: 0;
    visibility: hidden;
}
.foot{
    padding:20px 20px;
}
@media only screen and (max-width:1367px){
    .process-title-header{
        font-size: 80px;
        padding: 1rem!important;
        
     }
}

@media only screen and (max-width:1024px){
    .banner{
        padding: 0;
        margin: 0;
    }
    .process-title{
       font-size: 60px;
       padding: 1rem!important;
       
    }
    .content{
    padding-left: 7rem!important;
    padding-right:7rem!important ;
    }
    .header-content{
        font-size: 30px;
        padding: 1rem!important;
    }
    .get-header{
        margin-top: 0!important;
    }
    .get-content{
        margin-left: 0!important ;
        margin-bottom:0!important ;
    }
}
@media  screen and (max-width: 812px){

    .header-content{
        font-size: 9px!important;
    }
    .banner-text {
        height: auto;
        font-size: 1rem!important;
    }
    .banner{
        padding:1rem!important;
    }
    .process-title-header{
        padding: 1rem!important;
        text-align: center!important;
       
    }
    .process-title{
        font-size:40px!important;
        display: inline;
        text-align: center!important;
    }
    .who-body{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .img{
        height: auto;
        width: auto;
    }
    .process{
        padding:1rem!important;
    }
    .process-title{
        font-size: 4rem;
        align-items: center;
        margin: auto!important;
    }
    
    .process-title-clinet{
        padding-bottom: 2rem!important;
        margin-left:auto!important ;
        margin-right:auto!important ;
    }
    .carousel-dong{
        padding-top: 2rem!important;
    }
    .clinet-content{
        display: inline;
    }
    .content{
        padding:1rem!important;
    
    }
    .card, .process-content{
        padding:1rem!important;
    
    }
    .get-body{
        margin-top: 0!important;
        padding:1.5rem!important;
    }
    .get-header-1{
        padding: 0!important;
    }
    .get-header{
        padding:0.5rem!important;
    }
   
    .img-what{
        height: 8rem!important;
        width: 9rem!important;
    }
    .what {
        margin:0.1rem!important;
    
    }
    .what-content{
        padding:0.5rem!important;
    
    }
    .card-img{
        text-align: center!important;
    }
    .card-img{
        height: 100px!important;
        width: 100px!important;
    }
    .footer1{
        padding:1.5rem!important ;
    }
    }
   
    @media only screen and (min-width:768px) and (max-width:1024px){
        .banner{
            padding:1rem!important;
        }
        .header-content{
            font-size: 1.25rem!important;
            padding-top:3rem!important;
            margin-left: 1rem!important;
            margin-right: 1rem!important;
        }
        .process-title-header{
            font-size: 70px!important;
            margin-top: 1.5rem!important;
        }
    }
    @media only screen  and (max-width:731px){
        .header-content{
            font-size: 2rem!important;
            padding-top:3rem!important;
        }
        .process-title-header{
            font-size: 100px!important;
            margin-top: 1.5rem!important;
        }
    }
    @media only screen and (max-width:640px){
        .header-content{
            font-size: 8px!important;
            padding-top:1.5rem!important;
        }
        .process-title-header{
            font-size: 20px!important;
            margin-top: 0.5rem!important;
        }

    }
  
    @media only screen and (max-width:568px)and (min-width:320px){
        .banner{
            padding:0.5rem!important;
        }
        .header-content{
            font-size: 9px!important;
            padding-left: 0.5rem!important;
            padding-right: 0.5rem!important;

        }
        .process-title-header{
            font-size: 30px!important;
            margin-left: 2rem!important;
            margin-right: 2rem!important;
        }

}         @media only screen and (max-width:410px){
    .banner{
        padding:0.5rem!important;
    }
    .header-content{
        font-size: 7px!important;
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;

    }
    .process-title-header{
        font-size: 25px!important;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }

}